<div class="heroSection">
    <h1>Austrália</h1>
    <p>Estúdios</p>
    <div class="hero-btns">
        <a href='website/blog'><button class="btns">Blog</button></a>
        <a href="website/contato"><button class="btns">Contato</button></a>
    </div>
</div>

<div class="aboutSection colado">
  <br>
  <br>
  <br>
  <div class="container">
      <br>
      <br>
    <div class="row">

      <div class="col-md-6 center">
          <img src="img/cover57.png" class="tamanhoimg center">
      </div>

      <div class="col-md-6">
          <br>
          <br>
        <h3 class="title di">Sobre nós</h3>
        <p class="text di" align="justify">O Austrália Estúdios é uma empresa de trabalhos artísticos, produção de conteúdo e educação, nós temos mangás e quadrinhos autorais, um podcast e fazermos diversos trabalhos e encomendas artísticas por meio do Austrália Designs.</p>
        <br>
        <a href="/website/contato" class="di"><button class="btns2">Saber mais</button></a>
      </div>

    </div>
  </div>
</div>


<div class="milesimosol text-white colado">
  <br>
  <br>
  <br>
  <div class="container">
      <br>
      <br>
    <div class="row">
      <div class="col-md-6">
          <br>
          <br>
        <h3 class="title di">O Milésimo Sol</h3>
        <p class="text di" align="justify">É o nosso mangá autoral 100% brasileiro, nele um jovem fraco segue seu caminho nas artes marciais e acaba entrando em diversas confusões e desvendando mistérios ancestrais.</p>
        <br>
        <a href="https://www.webtoons.com/en/challenge/o-mil%C3%A9simo-sol/list?title_no=419762&page=1" class="di"><button class="btns2">Quero ler</button></a>
      </div>

      <div class="col-md-6 center">
          <br>
          <br>
          <img src="img/home12.png" class="tamanhoimg center">
      </div>

    </div>
  </div>
</div>


<div class="colado">
  <br>
  <br>
  <br>
  <div class="container">
      <br>
      <br>
    <div class="row">

      <div class="col-md-6 center">
          <img src="img/home25.png" class="tamanhoimg center">
      </div>

      <div class="col-md-6">
          <br>
          <br>
        <h3 class="title di">Austrália Designs</h3>
        <p class="text di" align="justify">Por meio das encomendas do Austrália Designs nós criamos qualquer tipo de arte, desde logos a banners desenhados à mão, e edições de qualquer natureza. Veja nosso portfólio na Behance.</p>
        <br>
        <a href="/website/contato" class="di"><button class="btns3">Saber mais</button></a>
      </div>

    </div>
    <hr>
  </div>
</div>

<div class="podcast">
    <div class="container">
        <br>
        <br>
        <br>
        <h2 class="di">O AustráliaCAST</h2>
        <p class="text di">É o podcast oficial do Austrália Estúdios, nele nós falamos sobre arte, mangás, animes, roteiro, negócios e muito mais.</p>
        <br>
        <a href="https://anchor.fm/australiacast" class="di"><button class="btns3">Ouvir podcast</button></a>
        <br>
        <br>
        <br>    
    </div>
</div>


<style>
    .colado {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .di {
        margin-left: 10px;
        margin-right: 10px;
    }

    .text {
        margin-top: 8px;
        font-size: 15px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .heroSection {
        background: url('img/cov2.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        margin: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: inset 0 0 0 1000px rgba(0,0,0,0,0.2);
        object-fit: contain;
    }

    .aboutSection {
        margin: 0px;
        background-color: #f2f2f2;
        display: flex;
    }

    .milesimosol {
        margin: 0px;
        background-color: #0a0a0a;
        display: flex;
    }

    .btns {
        background-color: #fff;
        color: #0a0a0a;
        padding: 8px 20px;
        border: 1px solid #0a0a0a;
        transition: all 0.3s ease-out;
    }

    .btns:hover,
    .btns:hover {
        background: #fff;
        color: #242424;
        transition: all 0.3s ease-out;
    }

    .btns2 {
        background-color: #f2f2f2;
        color: #0a0a0a;
        padding: 8px 20px;
        border: 1px solid #0a0a0a;
        transition: all 0.3s ease-out;
    }

    .btns2:hover,
    .btns2:hover {
        background: #0a0a0a;
        color: #fff;
        transition: all 0.3s ease-out;
    }

    .btns3 {
        background-color: #fff;
        color: #0a0a0a;
        padding: 8px 20px;
        border: 1px solid #0a0a0a;
        transition: all 0.3s ease-out;
    }

    .btns3:hover,
    .btns3:hover {
        background: #0a0a0a;
        color: #fff;
        transition: all 0.3s ease-out;
    }

    .hero-btns {
        margin-top: 32px;
    }

    .hero-btns .btns {
        margin: 6px;
    }

    .heroSection > h1 {
        color: #fff;
        font-size: 100px;
        margin-top: -100px;
    }

    .heroSection > p {
        margin-top: 8px;
        color: #fff;
        font-size: 32px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    @media (min-width: 1000px){
    .tamanhoimg {
        height: 400px;
        width: 400px;
    }
    }

    @media screen and (max-width: 960px){
    .heroSection > h1 {
        font-size: 70px;
        margin-top: -150px;
    }

    .tamanhoimg {
        height: 200px;
        width: 200px;
    }
}

@media screen and (max-width: 768px){
    .heroSection > h1 {
        font-size: 50px;
        margin-top: -100px;
    }

    .heroSection > p {
        font-size: 30px;
    }

    .btn-mobile {
        display: block;
        text-decoration: none;
    }
    .btn {
        width: 100%;
    }
}
</style>