<div class="contatoSection center">
    <br>
    <br>
    <br>
    <br>
    <h2>Nossos contatos</h2>
    <br>
    <p class="text di justify">Para saber mais voocê pode nos contatar por meio das nossas redes sociais que estão logo abaixo no rodapé.</p>
    <p class="text di">Ou pode usar nosso email: <a href="mailto:australiaestudios2020@gmail.com">australiaestudios2020@gmail.com</a></p>
    <img src="img/logo3.png" class="tamanhoimg">
</div>

<style>

@media(min-width: 1000px){
    .tamanhoimg {
        height: 300px;
        width: 300px;
    }

    .contatoSection {
    height: 100%;
    margin: 0px;
    background-color: #f2f2f2;
}
}

@media(max-width: 960px){
    .tamanhoimg {
        height: 200px;
        width: 200px;
    }

    .di {
    margin-left: 20px;
    margin-right: 20px;
}

.contatoSection {
    height: 60%;
    margin: 0px;
    background-color: #f2f2f2;
}
}

</style>