<div class="contatoSection center">
    <img src="img/logo3.png" class="tamanhoimg">
    <br>
    <h2>Nossos contatos</h2>
    <br>
    <p class="text">Para saber mais voocê pode nos contatar por meio das nossas redes sociais que estão logo abaixo no rodapé.</p>
    <p class="text">Ou pode usar nosso email: <a href="mailto:australiaestudios2020@gmail.com">australiaestudios2020@gmail.com</a></p>
</div>

<style>

.contatoSection {
    height: 100%;
    margin: 0px;
    background-color: #f2f2f2;
}

@media(min-width: 1000px){
    .tamanhoimg {
        height: 300px;
        width: 300px;
    }
}

@media(max-width: 960px){
    .tamanhoimg {
        height: 200px;
        width: 200px;
    }
}

</style>