<div class="heroSection center">
    <h1>Austrália</h1>
    <p>Designs</p>
    <br>
    <div class="hero-btns">
        <a href='https://www.behance.net/australiaestudios?isa0=1#' target='_blank'><button class="btns">Ver portfólio</button></a>
        <a href="website/contato"><button class="btns">Contato</button></a>
    </div>
</div>

<div class="colado aboutSection">
  <br>
  <br>
  <br>
  <br>
  <div class="container dig">
    <div class="row">

      <div class="col-md-6">
          <br>
          <br>
        <h3 class="title dig">Austrália Designs</h3>
        <p class="text dig" align="justify">O Austrália Designs é uma divisão do estúdio criada para produzir, desenvolver e idealizar artes, desenhos, designs de banners, capas, e edições de quase todos os tipos com altíssima qualidade para nossos clientes e leitores.</p>
        <br>
        <a href="/website/contato" class="dig"><button class="btns2">Entre em contato</button></a>
        <br>
        <br>
      </div>

      <div class="col-md-6 center">
          <br>
          <img src="img/paulowiski.png" class="tamanhoimg center">
      </div>

    </div>
  </div>
</div>

<div class="container gridSection dig">
    <div class='exes'>
        <h2 class='fontepadrao center'>Algumas de nossas artes</h2>
    </div>
  <div class="row">
    <div class="col-4"><a href='img/grid1.png' target='_blank'><img src='img/grid1.png' class='con'></a></div>
    <div class="col-4"><a href='img/grid2.jpg' target='_blank'><img src='img/grid2.jpg' class='con'></a></div>
    <div class="col-4"><a href='img/grid3.jpg' target='_blank'><img src='img/grid3.jpg' class='con'></a></div>
    <div class="col-4"><a href='img/grid4.png' target='_blank'><img src='img/grid4.png' class='con'></a></div>
    <div class="col-4"><a href='img/grid5.png' target='_blank'><img src='img/grid5.png' class='con'></a></div>
    <div class="col-4"><a href='img/grid6.png' target='_blank'><img src='img/grid6.png' class='con'></a></div>
    <div class="col-4"><a href='img/grid7.jpg' target='_blank'><img src='img/grid7.jpg' class='con'></a></div>
    <div class="col-4"><a href='img/grid8.jpg' target='_blank'><img src='img/grid8.jpg' class='con'></a></div>
    <div class="col-4"><a href='img/grid9.png' target='_blank'><img src='img/grid9.png' class='con'></a></div>
  </div>
  <br>
  <br>
  <p>Veja nosso portfólio completo na Behance.</p>
  <br>
  <a href='https://www.behance.net/australiaestudios?isa0=1#' target='_blank' class="di"><button class="btns2">Portfólio</button></a>
</div>

<!--<div class="grid-container center">
  <div class="row center">
    <div class="grid-item"><img src='img/grid1.png' class='con'></div>
    <div class="grid-item"><img src='img/grid2.jpg' class='con'></div>
    <div class="grid-item"><img src='img/grid3.jpg' class='con'></div>
    <div class="grid-item"><img src='img/grid4.png' class='con'></div>
    <div class="grid-item"><img src='img/grid5.png' class='con'></div>
    <div class="grid-item"><img src='img/grid6.png' class='con'></div>
    <div class="grid-item"><img src='img/grid7.jpg' class='con'></div>
    <div class="grid-item"><img src='img/grid8.jpg' class='con'></div>
    <div class="grid-item"><img src='img/grid9.png' class='con'></div>
  </div>
</div>-->

<br>
<br>

<style>
    .dig{
        margin-right: 20px;
        margin-left: 20px;
    }
    .fontepadrao {
        font-size: 25px;
    }
    .exes {
        margin-top: 40px;
        margin-bottom:50px;
    }

    .aboutSection{
        background-color:#f2f2f2;
    }

    .gridSection{
        margin-top: 100px;
        margin-bottom:70px;
    }

    .heroSection {
        background: url('img/fundinho2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        margin: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: inset 0 0 0 1000px rgba(0,0,0,0,0.2);
        object-fit: contain;
    }

    .heroSection > h1 {
        color: #fff;
        font-size: 80px;
        margin-top: -100px;
    }

    .heroSection > p {
        margin-top: 8px;
        color: #fff;
        font-size: 32px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .btns {
        background-color: transparent;
        color: #fff;
        padding: 8px 20px;
        border: 1px solid #fff;
        transition: all 0.3s ease-out;
    }

    .btns:hover,
    .btns:hover {
        background: #fff;
        color: #242424;
        transition: all 0.3s ease-out;
    }

    .btns2 {
        background-color: transparent;
        color: #0a0a0a;
        padding: 8px 20px;
        border: 1px solid #0a0a0a;
        transition: all 0.3s ease-out;
    }

    .btns2:hover,
    .btns2:hover {
        background: #0a0a0a;
        color: #fff;
        transition: all 0.3s ease-out;
    }


    @media (min-width: 1000px){
    .tamanhoimg {
        height: 400px;
        width: 400px;
    }

    .con {
        height: 350px;
        width: 350px;
        margin-bottom: 30px;
    }

    }

    @media screen and (max-width: 960px){
    .heroSection > h1 {
        font-size: 70px;
        margin-top: -150px;
    }

    .tamanhoimg {
        height: 200px;
        width: 200px;
    }

    .con {
        height: 200px;
        width: 200px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 768px){
    .heroSection > h1 {
        font-size: 50px;
        margin-top: -100px;
    }

    .heroSection > p {
        font-size: 30px;
    }

    .con {
        height: 100px;
        width: 100px;
        margin-bottom: 15px;
        margin-left: 0px;
        margin-right: 0px;
    }

}
</style>