<link href="https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Amethysta&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Maitree&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@500&display=swap" rel="stylesheet">

<meta name="description"
  content="Veja toda as publicações mais recentes. Crie seu blog e comece a compartilhar seu conteúdo gratuitamente.">


<div class="heroSection di">
    <h1>AustráliaCAST</h1>
    <p class='di center'>O podcast do Austrália Estúdios</p>
    <div class="hero-btns">
        <a href='https://open.spotify.com/show/7fkdATKgk5q21pua6gNQFi?si=XGeBnzT5QUyJUEXgWzlGMw'><button class="btns2">Spotify</button></a>
        <a href="https://www.deezer.com/br/show/2570452?utm_source=widget&utm_medium=widget&utm_campaign=430922&utm_content=episode-295984332"><button class="btns2">Deezer</button></a>
    </div>
</div>

  <div class="center tela">
      <img src="img/logo3.png" class="im">
      <br>
      <h2 class="title">AustráliaCAST</h2>
      <p class="text">Escute todos os episódios.</p>
      <br>
      <br>
      <p class="text di" align="justify">O AustráliaCAST é o podcast oficial do estúdio, no nosso podcast nós falamos sobre coisas dos bastidores do estúdio, entrevistamos alguns convidados e ocasionalmente também comentamos sobre as notícias do mundo dos mangás, além de comentarmos sobre técnicas de arte, estilização, roteiro e tecnologia.</p>
      <br>
      <a href='https://open.spotify.com/show/7fkdATKgk5q21pua6gNQFi?si=XGeBnzT5QUyJUEXgWzlGMw'><button class="btns">Spotify</button></a>
      <a href="https://www.deezer.com/br/show/2570452?utm_source=widget&utm_medium=widget&utm_campaign=430922&utm_content=episode-295984332"><button class="btns">Deezer</button></a>
      <br>
      <br>
      <br>
      <p class='text'>Você também pode escutar o AustráliaCAST logo abaixo aqui mesmo no nosso site.</p> 
      <br>
      <br>
      <br>  
  </div>
<br>

{{#each podcasts}}
    <div class="card borda border-succes">
        <div class="card-body left">
          <small class="card-text">Publicado em {{data}}</small>
          <br>
          <h3 class="title2">{{title}}</h3><br>
          <a href="/website/ouvir/{{_id}}" class=""><button class="btns">Ouvir aqui</button></a>
          <a href="{{link}}" class=""><button class="btns">Ouvir no Deezer</button></a>
          <br>
        </div>
    </div>
    <br>
{{/each}}


<script>
  var iframe = window.getElementsByTagName( "iframe" )[ 0 ];
  alert( "Frame title: " + iframe.contentWindow.title );
</script>

<style>

.im {
    height: 200px;
    width: 200px;
  }

  .total {
    width: 100%;
  }

  .igk {
    width: 1000000px;
    height: 600px;
  }

  .marker {
    background-color: Yellow;
  }

  .btns {
        background-color: transparent;
        color: #060d13;
        padding: 4px 10px;
        border: 1px solid #90EE90;
        transition: all 0.3s ease-out;
    }

    .btns:hover,
    .btns:hover {
        background: #90EE90;
        color: #fff;
        transition: all 0.3s ease-out;
    }


  .btns2 {
        background-color: transparent;
        color: #fff;
        padding: 8px 20px;
        border: 1px solid #fff;
        transition: all 0.3s ease-out;
    }

    .btns2:hover,
    .btns2:hover {
        background: #fff;
        color: #242424;
        transition: all 0.3s ease-out;
    }

  .lop {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .di {
    margin-left: 10px;
    margin-right: 10px;
  }

  .dog {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .title {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 30px;
  }

  .title2 {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 18px;
  }

  .text {
    font-family: 'Slabo 27px', serif;
    font-size: 15px;
  }

  h1, h2, h3, h4 {
    font-family: 'Big Shoulders Display', cursive;
  }

  .lop2 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
  }

.heroSection {
        background: url('img/podcast.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        margin: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: inset 0 0 0 1000px rgba(0,0,0,0,0.2);
        object-fit: contain;
    }

.hero-btns {
    margin-top: 32px;
    }

.hero-btns .btns {
    margin: 6px;
  }

.heroSection > h1 {
    color: #fff;
    font-size: 60px;
    margin-top: -100px;
}

.heroSection > p {
    margin-top: 8px;
    color: #fff;
    font-size: 26px;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


@media (min-width: 1200px) {

    .diu {
      margin-left: 300px;
      margin-right: 300px;
    }

    .ig {
      height: 150px;
      margin-bottom: 0px;
    }

    .borda {
      margin-left: 300px;
      margin-right: 300px;
      height: 150px;
    }

    img {
      max-width: 670px;
      align-self: center;
    }

    .tela {
      margin-left: 200px;
      margin-right: 200px;
    }

  }

  @media (min-width: 1000px) and (max-width: 1200px) {

    .diu {
      margin-left: 100px;
      margin-right: 100px;
    }

    .borda {
      margin-left: 150px;
      margin-right: 150px;
      height: 150px;
    }

    .ig {
      height: 150px;
      margin-bottom: 0px;
    }

    img {
      max-width: 650px;
      align-self: center;
    }

    .tela {
      margin-left: 150px;
      margin-right: 150px;
    }

  }

  @media (min-width: 768px) and (max-width: 1000px){

    .ig {
      height: 150px;
      margin-bottom: 0px;
    }

    .borda {
      margin-left: 50px;
      margin-right: 50px;
      height: 150px;
    }

    img {
      max-width: 100%;
    }

    .tela {
      margin-left: 80px;
      margin-right: 80px;
    }

  }

@media (min-width: 700px) and (max-width: 800px){

  img {
    max-width: 100%;
  }
}
  @media (max-width: 800px) {

    .diu {
      margin-left: 3px;
      margin-right: 3px;
    }

    .borda {
      margin-right: 20px;
      margin-left: 20px;
    }


    .borda2 {
      margin-right: 0px;
      margin-left: 0px;
      padding: 0px;
      margin-top: 0px;
    }

    img {
      max-width: 100%;
      max-height: 220px;
      align: center;
    }

    .ig {
      width: 100%;
    }

    .tela {
      margin-left: 30px;
      margin-right: 30px;
    }

  }
</style>
